.actions {
  margin-bottom:1em;
}

#company-settings {
  section {
    padding:20px 10px 40px 10px;
    border-bottom:2px dotted #cdcdcd;
    // &:nth-child(odd) {background-color:rgba(200,200,200,.1);}
    label {color:rgba(0,0,0,.5);}
  }

}

.prod {
  position:relative;
  min-height:15em;
  border:1px solid rgba(0,0,0,.1);
  margin:15px 0;
  padding:0px 8px 8px 8px;
  box-shadow:1px 1px 3px rgba(0,0,0,.1);

}

.box-bottom {
  position:absolute;
  bottom:8px;
  width:94%;
  
}


#prod-description {
  min-height: 20em;
  border:1px solid rgba(0,0,0,.1);
  padding:1em;

}