<h1>Show</h1>

<%= link_to 'Manage Products', brand_path(current_brand.id) %>

<h2><%= @product.name %></h2>
<p><%= @product.description %></p>

<%= link_to 'Edit Product', edit_brand_product_path(current_brand.id, @product.id) %>